<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear Veterinario</title>
</head>
<body>

<h2>Registrar Veterinario</h2>

<form th:action="@{/admin/veterinarios/guardar}" method="post" th:object="${veterinario}">

  <label>Nombre:</label>
  <input type="text" th:field="*{nombre}" required>
  <br><br>

  <label>Especialidad:</label>
  <input type="text" th:field="*{especialidad}" required>
  <br><br>

  <h3>Datos de acceso</h3>

  <label>Username:</label>
  <input type="text" name="username" required>
  <br><br>

  <label>Password:</label>
  <input type="password" name="password" required>
  <br><br>

  <button type="submit">Guardar</button>

</form>

<br>
<a th:href="@{/admin}">Volver al Panel</a>

</body>
</html>