body {
    margin: 0;
}

/* Sidebar */
.sidebar {
    width: 250px;
    min-height: 100vh;
   background-color: #012E40;
}

h5{
text-align:center;
}

/* Links */
.sidebar .nav-link {
    border-radius: 8px;
    margin-bottom: 10px;
    padding:10px 12px

}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main */
.main-content {
    background-color: #F2E3D5;
    min-height: 100vh;
}



.sidebar .fi {
    display: flex;
    align-items: center;
    font-size: 18px;

    padding-right:10px
}

.logo-contenedor{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-bottom:10px;
}
.logo-contenedor img{
max-width:120px;
margin-bottom:12px;
}
.contenedorCitas h2{

text-align:center;
}
.formularioCitas {
display:flex;
flex-direction:column;
width:75%;
margin:8px;
}

.formularioCitas button{
width:20%;
margin-top:10px;
}


